<!DOCTYPE html>
<html Lang="es">
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-Compatible" content="ie-edge">
        <title>Computed</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
<body>


<div id="app" class="container">
    <h3>{{saludo}}</h3>
    <button @click="saludo = 'saludo cambiado'">Cambiar</button>
    <button @click="destruir()">Destruir</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="app2.js"></script>
</body>
</html>
