<!DOCTYPE html>
<html Lang="es">
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-Compatible" content="ie-edge">
        <title>Computed</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
<body>


<div id="app" class="container">

    <h3>{{mensaje}}</h3>
    <h3>invertido: {{invertido}}</h3>
    <input type="text" class="form-control" v-model="mensaje">
    <hr>
    <button class="btn btn-primary" @click="contador++">+</button>
    <button class="btn btn-danger" @click="contador--">-</button>
    <h3>{{contador}}</h3>
    <div class="progress">
        <div class="progress-bar" role="progressbar" :style="{'width' : contador + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" :class="color">{{contador}}%</div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
